.page {
  /* align-items: center;
  justify-items: center; */
  padding: 10px;
  /* gap: 64px; */
  font-family: var(--font-geist-sans);
}
.section1{
  min-height: 100svh;
  

}
.section2{
  min-height: 100svh;
  background-color: black;

}
@media (prefers-color-scheme: dark) {
  .page {
  
 
  }
}

.main {

}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .page {
   
  }

  
 
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
