.page {
  /* align-items: center;
  justify-items: center; */
  /* gap: 64px; */
  font-family: var(--font-geist-sans);
}
.section1{
  height: 100dvh;
  

}
.section2{
  height: 100dvh;
  background-color: black;

}

.startButton{
  position: absolute;
  top: 65%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: none;
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 100px;
  padding: 2.7rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'Alfa Slab One';
  letter-spacing: 0.2em;
  &:hover{
    color: #000;
    background-color: #fff;
  }

}
@media (prefers-color-scheme: dark) {
  .page {
  
 
  }
}

.main {

}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .page {
   
  }

  
 
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
